@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a:link {
  color: #6767e0;
  text-decoration: underline;
}

h1 {
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 5px;
}
